@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%

  .header
    padding-top: 6rem

  .intro
    padding-top: 22rem
    &__title
      font: normal 400 14rem/14rem "OutrunFuture"
      &-image
        max-height: 16rem
        max-width: 56rem

    &__subtitle
      font: normal 400 3.6rem/3.6rem "OutrunFuture"
      &-wrapper
        margin-bottom: 6rem
      &-image
        max-height: 4rem
        max-width: 40rem
