@media (max-width: 991px)
  .container
    max-width: 700px

  .header
    padding-top: 8rem

  .intro
    padding-top: 18rem
    &__title
      font: normal 400 16rem/16rem "OutrunFuture"
      &-image
        max-height: 18rem
        max-width: 63rem

    &__subtitle
      font: normal 400 4.2rem/4.2rem "OutrunFuture"
      &-wrapper
        margin-bottom: 8rem
